.wrapper {
    max-width: 1647px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* ---HEAD--- */

.head {
    width: 82.2%;
    margin: 0 auto;
    padding-top: 29px;
}

.logo {
    float: left;
    line-height: normal;
}

.logo::first-letter {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #1abc9c;
    font-size: 30px;
}

.logo span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    float: right;
    color: #555252;
    letter-spacing: -2px;
}

.navigation {
    line-height: 36px;
    float: right;
}

.head li {
    float: left;
    list-style: none;
}

.head a:last-child {
    float: right;
    padding-left: 35px;
}

.head a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #0f0101;
    font-weight: 700;
    font-size: 14px;
}

.head a:hover {
    color: #1abc9c;
}
/* ---CLEARFIX--- */
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}


/* ---GALLERY--- */

.gallery {
    width: 82.2%;
    margin: 0 auto;
    padding-top: 88px;
    text-align: center;
}

.gallery-title {
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 48px;
    display: inline-block;
    margin-bottom: 93px;
    font-weight: 900;
}

.gallery-title::after {
    display: block;
    border-bottom: 7px solid #1abc9c;
    width: 33.1%;
    content: " ";
    margin: 0 auto;
    padding-bottom: 24px;
}

.gallery-list {
    list-style: none;
    padding: 0;
}

.gallery-list-item {
    float: left;
    margin-right: 29.3px;
    margin-bottom: 30px;
    width: 23%;
    background-color: #e9f0fd;
}

.gallery-list-item:first-child {
    margin-right: 30px;
}

.gallery-list-item:nth-child(4n) {
    margin-right: 0px;
}

.gallery-list-item img {
    display: block;
    width: 100%;
}

.rotate img {
    transform: rotate(65deg);
}

.gallery-list-item p {
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    width: 70.1%;
    padding: 12px;
}

.gallery-list-item p:last-child {
    background-color: #8c8c8c;
    float: right;
    width: 11%;
}

.gallery-list-item:hover p {
    background-color: #1abc9c;
}

.gallery-list-item:hover p:last-child {
    background-color: #7fd9c7;
}


/* ---BLOG--- */

.blog {
    max-width: 82.2%;
    margin: 0 auto;
    text-align: center;
    padding-top: 68px;
}

.blog-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #555252;
    display: inline-block;
    margin-bottom: 80px;
}

.blog-title:after {
    border-bottom: 7px solid #4ec6ab;
    content: '';
    width: 53%;
    display: block;
    margin: 0 auto;
    padding-top: 24px;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list-item {
    float: left;
    width: 31.6%;
}

.blog-list-item:first-child {
    margin-right: 29px;
}

.blog-list-item:nth-child(3) {
    float: right;
    margin: 0;
}

.blog-list-item h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 26px;
    padding-top: 7px;
    font-weight: 600;
    color: #555252;
}

.blog-list-item h4:after {
    display: block;
    content: '';
    border-bottom: 3px solid #4ec6ab;
    width: 136px;
    padding-top: 9px;
    margin-bottom: 20px;
}

.blog-list-item p {
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -1px;
    margin-bottom: 8px;
}

.blog-list-item button {
    float: left;
    padding: 20px 43px;
    border: 1px solid #4ec6ab;
    border-radius: 6px;
    background-color: #4ec6ab;
    color: #f6fbfa;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 81px;
    cursor: pointer;
}