.wrapper {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ---HEAD--- */

header {
  margin: 0 auto;
  padding-top: 29px;
}

.logo {
  float: left;
  line-height: normal;
}

.logo a::first-letter {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #1abc9c;
  font-size: 30px;
}

.logo a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  float: right;
  color: #555252;
  letter-spacing: -2px;
}

.navigation {
  line-height: 36px;
  float: right;
}

header li {
  float: left;
  list-style: none;
}

header a:last-child {
  float: right;
  padding-left: 35px;
}

header a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
}

header a:hover {
  color: #1abc9c;
}
/* ---CLEARFIX--- */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* ---GALLERY--- */

.gallery {
  width: 1110px;
  margin: 0 auto;
  padding-top: 88px;
  text-align: center;
}

.gallery-title {
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-size: 48px;

  margin-bottom: 93px;
  font-weight: 900;
}

.gallery-title::after {
  display: block;
  border-bottom: 7px solid #1abc9c;
  width: 164px;
  content: " ";
  margin: 0 auto;
  padding-bottom: 24px;
}

.gallery-list {
  list-style: none;
  padding: 0;
}

.gallery-list-item {
  float: left;
  margin-right: 29.3px;
  margin-bottom: 30px;
  width: 255px;
  background-color: #e9f0fd;
}

.gallery-list-item:first-child {
  margin-right: 30px;
}

.gallery-list-item:nth-child(4n) {
  margin-right: 0px;
}

.gallery-list-item img {
  display: block;
  height: auto;
}

.rotate img {
  transform: rotate(65deg);
}
.price {
  background-color: rgb(50, 50, 50);
}

.price h3 {
  background-color: rgb(50, 50, 50);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  width: 179px;
  padding: 12px;
}

.price p {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.44);
  float: right;
  width: 28px;
  padding: 12px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.gallery-list-item:hover h3 {
  background-color: #1abc9c;
}

.gallery-list-item:hover p {
  background-color: #7fd9c7;
}

/* ---BLOG--- */

.blog {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding-top: 68px;
}

.blog-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #555252;
  display: inline-block;
  margin-bottom: 80px;
}

.blog-title:after {
  border-bottom: 7px solid #4ec6ab;
  content: "";
  width: 164px;
  display: block;
  margin: 0 auto;
  padding-top: 24px;
}

.blog-list {
  list-style: none;
  padding: 0;
}

.blog-list-item {
  float: left;
  width: 348px;
}

.blog-list-item:first-child {
  margin-right: 29px;
}

.blog-list-item:nth-child(3) {
  float: right;
  margin: 0;
}

.blog-list-item h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 26px;
  padding-top: 7px;
  font-weight: 600;
  color: #555252;
}

.blog-list-item h3:after {
  display: block;
  content: "";
  border-bottom: 3px solid #4ec6ab;
  width: 136px;
  padding-top: 9px;
  margin-bottom: 20px;
}

.blog-list-item p {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

.blog-list-item a {
  float: left;
  padding: 20px 43px;
  border: 1px solid #4ec6ab;
  border-radius: 6px;
  background-color: #4ec6ab;
  color: #f6fbfa;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 81px;
  cursor: pointer;
}
